#input {
    width: 800px;
    margin-top: 10px;
    #message {
        width: 750px;
        height: 40px;
        font-size: 24px;
        padding-left: 4px;
    }

    #submit {
        width: 39px;
        height: 40px;
        position: relative;
        margin-left: 6px;
        bottom: 5px;
    }
}
