body {
	background: #28596C;
	color: white;
	font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#content {
	width: 800px;
	padding: 0;
	margin: 0;
	height: 500px;
	ul {
		background-color: white;
		&#usernames { 
			float: right;
			width: 150px;
			height: 500px;
			padding: 0;
			margin: 0;
		}
		&#messages {
			float: left;
			width: 640px;
			height: 500px;
			padding: 0;
			margin: 0;
		}
	}	
} 

#input {
	width: 800px;
	margin-top: 10px;
	#message {
		width: 750px;
		height: 40px;
		font-size: 24px;
		padding-left: 4px;
	}

	#submit {
		width: 39px;
		height: 40px;
		position: relative;
		margin-left: 6px;
		bottom: 5px;
	}
}
